
<%= f.label :date %>
<%= f.datetime_local_field :date %><br>

<%= f.label :amount %>
<%= f.number_field :amount, step: any %><br>

<%= f.label :description %>
<%= f.text_area :description, placeholder: 'Enter description' %><br>

<label>Select Gig Title</label>
<%= f.collection_select :gig_id, Gig.all, :id, :title, include_blank: 'Please Choose the Title' %><br>
<h4> gig_date_display </h4>







