    <h2> <%= invoice_header(current_user) %> </h2>
    <p><%= invoice_link_header(current_user)%> </p>

    <% @invoices.each do |invoice| %>
    <strong>Date: </strong><%= invoice.formatted_date %><br>
    <strong>Amount: $</strong><%= invoice.amount %><br>
    <strong>Description: </strong><%= invoice.description %><br>
    <strong>User: </strong><%= invoice.user_id %><br>
    <strong>Gig: </strong><%= invoice.gig_id %><br>
    <strong></strong><%= link_to 'More Details', user_invoice_path(invoice.user, invoice) %><br><br>
    <% end %>

    <%= button_to 'Logout', logout_path %>