<h3>Create a New Invoice</h3><br>
<%= form_for ([@user, @invoice]) do |f| %>
<%= render partial: 'form', locals: {f: f, user: @user} %>

<label> Musician: </label>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= current_user.name %><br>

<%= f.submit %>
<% end %>