<h1>Sign Up!</h1>
<br>
<%= form_for :user do |f| %>
<p><%= f.label :username %>
<%= f.text_field :username %>
</p>
<p><%= f.label :password %>
<%= f.password_field :password %>
</p>
<p><%= f.label :email %>
<%= f.email_field :email %>
</p>
<p><%= f.label :admin %>
<%= f.check_box :admin %>
</p>
<%= f.submit %>

<% end %>





