<h1>Admins Only - view All Users</h1>
<%= flash[:notice] %><br>
<% @users.each do |user| %>
<div>
<strong>Name:</strong><%= user.name %><br>
<strong>Instrument:</strong><%= user.instrument %><br>
<strong>Username:</strong><%= user.username %><br>
<strong>Email: </strong><%= user.email %><br>
<strong>Admin: </strong><%= user.admin %><br>
<%= link_to 'Edit User', edit_user_path(user) %><br><br>
</div>
<% end %>
