<h1>Main</h1><br>
<h2>Hello, <%= current_user.name.split(" ").map(&:capitalize).join(" ") %>!</h2><br>

<%= link_to 'All Gigs', gigs_path %><br>
<%= link_to 'All My Gigs', user_gigs_path(current_user) %><br>
<%= show_admin_links(current_user) %>
<%= link_to 'My Invoices', %>
<%= link_to 'All Users', users_path %>
<%= button_to 'Logout', logout_path %>

