<h2> Gig Details </h2><br>


<%= f.label :title %>
<%= f.text_field :title, placeholder: 'Enter gig title' %><br>

<%= f.label :event_type %>
<%= f.text_field :event_type, placeholder: 'Enter Type e.g. wedding' %><br>

<%= f.label :gig_status %>
<%= f.text_field :gig_status, placeholder: 'Enter Status e.g pending'%><br>

<%= f.label :client %>
<%= f.text_field :client, placeholder: 'Enter client name' %><br>

<%= f.label :street_address %>
<%= f.text_field :street_address, placeholder: 'Enter address' %><br>

<%= f.label :secondary_address %>
<%= f.text_field :secondary_address, placeholder: 'Enter secondary address e.g. suite' %><br>

<%= f.label :city %>
<%= f.text_field :city, placeholder: 'Enter city' %><br>

<%= f.label :state %>
<%= f.text_field :state, placeholder: 'Enter state e.g. CO' %><br>

<%= f.label :zip %>
<%= f.text_field :zip, placeholder: 'Enter zip' %><br>

<%= f.label :start_time %>
<%= f.datetime_local_field :start_time %><br>

<%= f.label :end_time %>
<%= f.datetime_local_field :end_time %><br>

<%= f.label :production_schedule %>
<%= f.text_area :production_schedule, placeholder: 'production schedule' %><br>

<%= f.label :guest_list %>
<%= f.text_area :guest_list, placeholder: 'Enter guest list requests' %><br><br>

<p>Assign Musicians</p>
<div>
<%= f.collection_check_boxes :user_ids, User.all, :id, :name %><br>
</div><br>
<p>Or Add a New Musician</p>
<%= f.fields_for :user_attributes, @gig.users.build do |user_fields| %>
<%= user_fields.label :name %>
<%= user_fields.text_field :name, placeholder: 'Enter name' %><br>
<%= user_fields.label :instrument %>
<%= user_fields.text_field :instrument, placeholder: 'Enter instrument' %><br>
<%= user_fields.label :email %>
<%= user_fields.text_field :email, placeholder: 'Enter Email' %><br><br>
<% end %>
    
<%= f.submit %>








    

    
   

   
  
 