<h1>Gigs List</h1><br>
<%= flash[:notice] %>
<%= gig_link_header(current_user) %><br><br>
<%= month_calendar events: @gigs do |date, gigs| %>
  <%= date.day %>

    <% gigs.each do |gig| %>
      <div>
        <%= link_to "#{gig.title}", gig_path(gig) %>
      </div>
    <% end %>
<% end %>

<% @gigs.each do |gig| %>
<div>
<strong>Title:</strong> <%= gig.title %><br>
<strong>Date:</strong> <%= gig.formatted_start_time %><br>
<strong>Event Type:</strong> <%= gig.event_type %><br>
<strong>Location:</strong> <%= "#{gig.city}, #{gig.state}" %><br>
<strong>Client:</strong> <%=gig.client %>
<strong>Status:</strong> <%= gig.status %><br>

<%= link_to 'See More Details', gig_path(gig) %><br><br>
</div>
<% end %>


