<h1>Show All the Gigs</h1><br>
<h2>Calendar View</h2>
<h3>View All Your Gigs</h3>
<% @gigs.each do |gig| %>
<strong>Date:</strong> <%= gig.formatted_start_time %><br>
<strong>Event Type:</strong> <%= gig.event_type %><br>
<strong>Location:</strong> <%= gig.city, gig.state %><br>
<strong>Client:</strong> <%=gig.client %>
<strong>Status:</strong> <%= gig.status %><br>


<%= link_to 'See More Details', gig_path(gig) %><br><br>
<% end %>
