<%= gig_list_header(current_user) %><br>
<%= gig_link_header(current_user) %><br>
<%= link_to 'Main Page', main_path %><br>
<%= flash[:notice] %><br>

<div class='form-group'>
  <%= form_tag gigs_path, method: :get do %>
  <%= label_tag(:query, "Find a Gig:") %>
  <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search By Title' %>
  <%= submit_tag("Search", :title =>nil) %>
  <% end %>
</div>

<%= month_calendar events: @gigs do |date, gigs| %>
  <%= date.day %>

    <% gigs.each do |gig| %>
      <div>
        <%= link_to "#{gig.title}", gig_path(gig) %>
      </div>
    <% end %>
<% end %><br>
<hr>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Event Type</th>
    <th>Location</th>
    <th>Client</th>
    <th>Status</th>
    <th>Worksheet</th>
  </tr>
  <% @gigs.each do |gig| %>
  <tr>
    <td><%= gig.title %></td>
    <td><%= gig.formatted_start_time %></td>
    <td><%= gig.event_type %></td>
    <td><%= "#{gig.city}, #{gig.state}" %></td>
    <td><%=gig.client %></td>
    <td><%= gig_user_status(gig_user_id(gig, current_user))%></td>
    <%= hidden_field :gig, value: gig.id %>
    <td><%= link_to 'See More Details', gig_path(gig) %></td>
  </tr>
<% end %>
</table>


