<%= gig_list_header(current_user) %><br>
<%= gig_link_header(current_user) %><br><br>
<%= flash[:notice] %><br>

<%= form_tag gigs_path, method: :get do %>
<%= label_tag(:query, "Find a Gig:") %>
<%= text_field_tag :query, params[:query] %>
<%= submit_tag("Search", :title =>nil) %>
<% end %>

<%= link_to 'Main Page', main_path %><br><br>

<%= month_calendar events: @gigs do |date, gigs| %>
  <%= date.day %>

    <% gigs.each do |gig| %>
      <div>
        <%= link_to "#{gig.title}", gig_path(gig) %>
      </div>
    <% end %>
<% end %>

<% @gigs.each do |gig| %>
<div>
<strong>Title:</strong> <%= gig.title %><br>
<strong>Date:</strong> <%= gig.formatted_start_time %><br>
<strong>Event Type:</strong> <%= gig.event_type %><br>
<strong>Location:</strong> <%= "#{gig.city}, #{gig.state}" %><br>
<strong>Client:</strong> <%=gig.client %><br>
<strong>Booking Status: </strong><%= gig_user_status(gig_user_id(gig, current_user))%>
<%= hidden_field :gig, value: gig.id %>
<%= link_to 'See More Details', gig_path(gig) %><br><br>
</div>
<% end %>


