<h2>Gig Information for <%= @gig.formatted_date_title %></h2><br>
<%= link_to 'All Gigs', gigs_path %><br>
<%= link_to 'My Gigs', user_gigs_path(current_user) %><br><br>

<strong>Title:</strong> <%= @gig.title %><br>
<strong>Start:</strong> <%= @gig.formatted_start_time %><br>
<strong>End:</strong> <%= @gig.formatted_end_time %><br>
<strong>Type:</strong> <%= @gig.event_type %><br>
<strong>Booking Status:</strong><%= @gig.booking_status %><br>
<strong>Production Schedule:</strong><%= @gig.production_schedule %><br>
<strong>Guest List:</strong><%= @gig.guest_list %><br>
<div>
    <strong>Location:</strong><br> <%= @gig.full_location %>
</div><br>
<%= link_to 'Set List(s)', gig_set_lists_path(@gig) %><br>
<%= link_to 'Add a Set List for this Gig', new_gig_set_list_path(@gig) %><br><br>

<strong>Musicians:</strong><br>

<% @gig.users.each do |user| %>
<%= user.name %>, <%= user.instrument %><br>
<% end %>

<% if if_admin? %>
    <%= link_to 'Edit This Gig', edit_gig_path %><br>
    <%= link_to 'Delete Gig', gig_path, data: {confirm: 'Delete this Gig?'}, method: :delete %><br>
<% end %>

<%= link_to 'Back to All Gigs', gigs_path %><br>
<%= link_to 'Main Page', main_path %><br><br>
<%= button_to 'Logout', logout_path %>