<h2>Gig Information for <%= @gig.formatted_date_title %></h2><br>
<h3>Calendar View</h3><br>
<h3>See All Your Gigs</h3><br>

<strong>Title:</strong> <%= @gig.title %><br>
<strong>Start:</strong> <%= @gig.formatted_start_time %><br>
<strong>End:</strong> <%= @gig.formatted_end_time %><br>
<strong>Type:</strong> <%= @gig.event_type %><br>
<strong>Status:</strong><%= @gig.gig_status %><br>
<strong>Production Schedule:</strong><%= @gig.production_schedule %><br>
<strong>Guest List:</strong><%= @gig.guest_list %><br>
<div>
    <strong>Location:</strong><br> <%= @gig.full_location %>
</div><br>

<strong>Musicians:</strong><br>

<% @gig.users.each do |user| %>
<%= user.name %>,<%= user.instrument %><br>
<% end %>

<% if if_admin? %>
    <%= link_to 'Edit This Gig', edit_gig_path %><br>
<% end %>
<%= link_to 'Back to All Gigs', gigs_path %><br>
<%= link_to 'Main Page', main_path %><br><br>
<%= button_to 'Logout', logout_path %>