<h1>Gig Information</h1><br>
<h2>Calendar View</h2>
<h3>See All Your Gigs</h3>

<strong>Start:</strong> <%= @gig.formatted_start_time %><br>
<strong>End:</strong> <%= @gig.formatted_end_time %><br>
<strong>Type:</strong> <%= @gig.gig_type %><br>
<strong>Status:</strong><%= @gig.status %><br>

<div>
    <strong>Location:</strong> <%= @gig.full_location %>
</div>


<h2>Edit this Gig Admin Only</h2>
<%= link_to 'Back to All Gigs', gigs_path %>
<%= link_to 'Main Page', main_path %>
<%= button_to 'Logout', logout_path %>